
/* - - - - - - - - - - font import - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* - - - - - - - - - - general - - - - - - - - - - */
html, body {
    color: #191919;
    font-family: 'Roboto', sans-serif;
}


/* - - - - - - - - - - header - - - - - - - - - - */
header {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
}

#headerLeft {
    margin-left: 10%;
}

#headerRight {
    display: flex;
    margin-right: 10%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

#getStarted {
    background-color: black;
    color: white;
    padding: 0.6em;
    border-radius: 20px;
}


/* - - - - - - - - - - top section - - - - - - - - - - */
#top {
    display: flex;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 30px;
}

#topLeft {
    margin-left: 10%;
}

h1 {
    font-family: 'Spectral', serif;
    margin-bottom: 20px;
    font-size: 4rem;
}

p {
    margin-bottom: 30px;
}

#startReading {
    background-color: black;
    color: white;
    padding: 0.6em;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}


/* - - - - - - - - - - middle section - - - - - - - - - - */
#middle {
    border-bottom: 1px solid #8080803d;
    margin-bottom: 30px;
}

#middleTitle {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 20px;
}

#middleTitle img {
    margin-right: 5px;
}

#middleItems {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    gap: 2%;
}

.middleItem {
    display: flex;
    border: 1px solid black;
    width: 310px;
    padding: 10px;
    margin-bottom: 35px;
}

.itemNumber {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 10px;
    color: #8080803d;
}

.itemImage {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2.5px;
}

.itemImage img {
    width: 25px;
    border-radius: 100px;
    margin-right: 10px;
}

.text1 {
    font-size: 0.7rem;
}

.text2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.text3 {
    color: gray;
    font-size: 0.8rem;
}


/* - - - - - - - - - - bottom section - - - - - - - - - - */
#bottom {
    display: flex;
    flex-wrap: wrap;
}


/* - - - - - - - - - - bottom left section - - - - - - - - - - */
#bottomLeft {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    gap: 2%;
    width: 45%;
}

.bottomLeftItem {
    border: 2px solid black;
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
}

.bottomLeftItemText {
    margin-right: 10px;
}

.bottomLeftItem img {
    width: 150px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2.5px;
}

.author img {
    width: 25px;
    border-radius: 100px;
    margin-right: 10px;
}

.authorName {
    font-weight: bold;
}

.authorText1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.authorText2 {
    color: gray;
    /*width: 350px;*/
    margin-bottom: 10px;
}

.authorText3 {
    color: gray;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.authorText3b {
    display: flex;
    align-items: center;
}

.authorText3 span {
    background-color: #8080803d;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

.authorText3 img {
    width: 25px;
}


/* - - - - - - - - - - bottom right section - - - - - - - - - - */
#bottomRight {
    border: 2px solid black;
    width: 25%;
    padding: 10px;
}

#bottomRightTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

#bottomRight1 {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.bottomRight1Item {
    padding: 8px;
    text-align: center;
    margin-bottom: 5px;
    color: gray;
    border: 1px solid #8080803d;
}

#bottomRight2 {
    border-top: 1px solid #8080803d;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    
}

.bottomRight2Item {
    padding: 8px;
    text-align: center;
    margin-top: 5px;
    color: gray;
}


/* - - - - - - - - - - navbar change colore - - - - - - - - - - */

