
/* - - - - - - - - - - font import - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/* - - - - - - - - - - general - - - - - - - - - - */
html, body {
    color: #191919;
    font-family: 'Roboto', sans-serif;
}


/* - - - - - - - - - - header - - - - - - - - - - */
header {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

#headerLeft {
    margin-left: 10%;
}

#headerRight {
    display: flex;
    margin-right: 10%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

.getStarted {
    background-color: black;
    color: white;
    padding: 0.6em;
    border-radius: 20px;
}


/* - - - - - - - - - - top section - - - - - - - - - - */
#top {
    display: flex;
    background-color: #ffc017;
    border-bottom: 1px solid #191919;
    padding-top: 6%;
    /*padding-bottom: 4%;*/
    margin-bottom: 30px;
    justify-content: space-between;
}

#topLeft {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topRight {
    height: 300px;
}

h1 {
    font-family: 'Spectral', serif;
    margin-bottom: 20px;
    font-size: 4rem;
}

p {
    margin-bottom: 30px;
}

#startReading {
    background-color: black;
    color: white;
    padding: 0.6em;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}


/* - - - - - - - - - - middle section - - - - - - - - - - */
#middle {
    border-bottom: 1px solid #8080803d;
    margin-bottom: 30px;
}

#middleTitle {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 20px;
}

#middleTitle img {
    margin-right: 5px;
}

#middleItems {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    gap: 2%;
}

.middleItem {
    display: flex;
    /*border: 1px solid black;*/
    width: 310px;
    padding: 10px;
    margin-bottom: 35px;
}

.itemNumber {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 10px;
    color: #8080803d;
}

.itemImage {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2.5px;
}

.itemImage img {
    width: 25px;
    border-radius: 100px;
    margin-right: 10px;
}

.text1 {
    font-size: 0.7rem;
}

.text2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.text3 {
    color: gray;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}


/* - - - - - - - - - - bottom section - - - - - - - - - - */
#bottom {
    display: flex;
    flex-wrap: wrap;
}


/* - - - - - - - - - - bottom left section - - - - - - - - - - */
#bottomLeft {
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    gap: 2%;
    width: 45%;
}

.bottomLeftItem {
    /*border: 2px solid black;*/
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
}

.bottomLeftItemText {
    margin-right: 10px;
}

.bottomLeftItem img {
    width: 150px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 2.5px;
}

.author img {
    width: 25px;
    border-radius: 100px;
    margin-right: 10px;
}

.authorName {
    font-weight: bold;
}

.authorText1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.authorText2 {
    color: gray;
    /*width: 350px;*/
    margin-bottom: 10px;
}

.authorText3 {
    color: gray;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.authorText3b {
    display: flex;
    align-items: center;
}

.authorText3 span {
    background-color: #8080803d;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}

.authorText3 img {
    width: 25px;
}


/* - - - - - - - - - - bottom right section - - - - - - - - - - */
#bottomRight {
    /*border: 2px solid black;*/
    width: 25%;
    padding: 10px;
    height: 250px;
}

#bottomRightTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

#bottomRight1 {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.bottomRight1Item {
    padding: 8px;
    text-align: center;
    margin-bottom: 5px;
    color: gray;
    border: 1px solid #8080803d;
}

#bottomRight2 {
    border-top: 1px solid #8080803d;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    
}

.bottomRight2Item {
    padding: 8px;
    text-align: center;
    margin-top: 5px;
    color: gray;
}


/* - - - - - - - - - - navbar color change - - - - - - - - - - */
.headerChange {
    /*display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;*/
    background-color: white;
    /*border-bottom: 1px solid #191919;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;*/
    transition: background-color 1s;
}

.headerBack {
    /*display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    align-items: center;*/
    background-color: #ffc017;
    /*border-bottom: 1px solid #191919;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;*/
    transition: background-color 1s;
}

.getStartedChange {
    background-color: #1a8917;
   /*color: white;
    padding: 0.6em;
    border-radius: 20px;*/
    transition: background-color 1s;
}

.getStartedBack {
    background-color: black;
   /*color: white;
    padding: 0.6em;
    border-radius: 20px;*/
    transition: background-color 1s;
}


/* - - - - - - - - - - SVG animation - - - - - - - - - - */
.mHidden {
    opacity: 0;
}


/* - - - - - - - - - - media queries 1350px (desktop) >> 768px (tablet) >> 480px (mobile) - - - - - - - - - - */

@media screen and (min-width: 481px) and (max-width: 768px) {
    #headerRight {
        width: 50%;
    }
    #top {
        padding-top: 8%;
    }
    h1 {
        font-size: 3.4rem;
    }
    #middleTitle {
        margin-left: 6%;
    }
    #middleItems {
        margin-left: 5%;
    }
    #bottom {
        flex-direction: column;
    }
    #bottomRight {
        order: 1;
        width: 85%;
        margin-left: 5%;
    }
    #bottomLeft {
        order: 2;
        width: 95%;
        margin-left: 5%;
    }
    .bottomLeftItem{
        justify-content: space-between;
    }
    .bottomLeftItemText {
        font-size: 0.9rem;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #headerRight :nth-child(1), #headerRight :nth-child(2), #headerRight :nth-child(3), svg {
        display: none;
    }
    #middleItems {
        margin-left: 4%;

    }
    .middleItem{
        width: 90%;
    }
    #bottom {
        flex-direction: column;
    }
    #bottomRight {
        order: 1;
        width: 87%;
        margin-left: 4%;
    }
    #bottomLeft {
        order: 2;
        width: 95%;
        margin-left: 5%;
    }
    .bottomLeftItemText {
        font-size: 0.6rem;
    }
}