html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    /*font-family: ;*/
    font-size: 0.8em;
    line-height: 1.2em;
}

body {
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

header {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    background-color: black;
}

header img {
    width: 10%;
}

#section1 {
    text-align: center;
    padding-top: 10em;
    padding-bottom: 10em;
    background-image: url(../img/banner.jpg);
    background-position: top;
    background-size: 100%;
}

#section1 h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 2em;
}

#section1 p {
    width: 50%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
}

#section1 a {
    background-color: #f04c2f;
    color: white;
    padding: 0.8em 2em 0.8em 2em;
    border-radius: 0.5em;
    text-decoration: none;
}

#section2_left {
    display: inline-block;
    margin-left: 10em;
    width: 40%;
    margin-top: 7em;
    margin-bottom: 7em;
}

#section2_left img {
    border-radius: 100em;
}

#section2_right {
    display: inline-block;
    width: 40%;
}

#section2_right h3 {
    width: 50%;
    margin: 0;
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

#section2_right p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

#section3 {
    text-align: center;
    background-color: #e22d0e;
    color: white;
    padding-top: 3em;
    padding-bottom: 5em;
    font-size: 1.2em;
}

#section3 h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 0.3em;
}

#section3 blockquote {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 0;
}

#section3 p {
    margin-top: 0;
    margin-bottom: 0;
}

#section3 span {
    font-size: 0.7em;
}

#section4 div {
    width: 25%;
    text-align: center;
    display: inline-block;
    border: 1px solid #dee1e3;
    margin-top: 6em;
    margin-bottom: 8em;
}

#section4_left {
    margin-left: 10%;
    margin-right: 2%;
}

#section4_center {
    margin-right: 2%;
}

#section4_center img {
    margin-bottom: 0.4em;
}

#section4_right {
    margin-right: 10%;
}

#section4_right img {
    margin-bottom: 1.5em;
}

#section4 img {
    width: 100%;
}

#section4 h4 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

#section4 p {
    margin-top: 0em;
    margin-bottom: 2em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #25a2c3;
    color: #c8e7f0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

footer h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: white;
    font-size: 3em;
}

#phone {
    margin-right: 7em;
}

#mail {
    margin-right: 4.5em;
}

footer hr {
    width: 18%;
    border-color: white;
    margin-bottom: 2em;
}

footer address {
    margin-bottom: 2em;
    font-style: normal;
}

footer p {
    font-size: 0.8em;
}

footer a {
    color: #c8e7f0;
}