<div class="container">
  <h4 class="mb-5">Welcome to MoviesPlatform</h4>

  <div class="row mb-5">
    <div class="col-12">
      <h5>To see the best movies access your favorite platform and enjoy the show!</h5>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="goToLogin()">Login</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>What are you waiting for? Register if you have not an account.</h5>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="goToRegister()">Register</button>
    </div>
  </div>

</div>
