<div class="container">
  <h1 class="mb-5">Welcome to MoviesPlatform</h1>

  <div class="row mb-5">
    <div class="col-12">
      <h4>To see the best movies access your favorite platform and enjoy the show!</h4>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="goToLogin()">Login</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h4>What are you waiting for? If you are not registered create an account.</h4>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" (click)="goToRegister()">Register</button>
    </div>
  </div>

</div>
