html,
body {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /*font-family:*/
    /*font-size: 0.8em;*/
    /*line-height: 1.2em;*/
}

ul {
    background-color: #FBF7E3;
    border-radius: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100px;
    align-items: center;
    padding: 0;
    width: 70%
}

#first, #second, #fourth, #fifth {
    background-color: #F3DF85;
    border-radius: 100px;
    width: 13%;
    text-align: center;
    height: 30%;
    padding-top: 12px;
    color: #612406;
}

#third {
    background-color: #F3DF85;
    border-radius: 100px;
    width: 25%;
    text-align: center;
    height: 60%;
    color: #612406;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#third img {
    width: 30%;
    margin: 0px 30px 0px 10px;
}
