@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body {
    /*margin: 0;*/
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    /*line-height: 0.8em;*/
}

#nav {
    background-color: #FEF7E2;
    border-radius: 50px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 4%;
}

#navShop {
    background-color: #FFDF7F;
    color: #742305;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    margin: 6%;
    padding: 4%;
    font-size: 3em;
}

.navItem {
    background-color: #FFDF7F;
    color: #742305;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 4%;
    width: 30%;
    text-align: center;
    font-size: 1.8em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #742305;
    width: 70%;
    text-align: center;
    font-size: 3em;
}

.card {
    background-color: #FEF7E2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.card img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 10px;
}

.cardText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #742305;
    width: 80%;
}

.cardTextBold {
    font-weight: bold;
}

.button {
    background-color: #FFDF7F;
    color: #742305;
    border-radius: 50px;
    padding: 8px;
    width: 60%;
    text-align: center;
    font-size: 1.8em;
    border: none;
    margin-bottom: 10px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

h2 {
    color: #742305;
    width: 70%;
    text-align: center;
    font-size: 2.5em;
}

section {
    background-color: #FEF7E2;
    color: #742305;
    border-radius: 50px;
    padding: 30px 30px;
    text-align: left;
    font-size: 2em;
    border: none;
    margin-bottom: 10px;
}

/* media queries mobile (320px) >> tablet (768) >> medium (1024) >> medium-large (1200) >> extralarge (1920) */

/* media queries tablet (768) */
@media screen and (min-width: 768px) {
    #nav {
        border-radius: 0px;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    #navShop {
        justify-content: space-around;
        margin: 0.5%;
        width: 15%;
        order: 3;
    }
    
    .navItem {
        margin: 0.5%;
        width: 12%;
        padding: 2% 2%;
    }

    #ourHoney {
        order: 1;
    }

    #traceHoney {
        order: 2;
    }

    #facilities {
        order: 4;
    }

    #contacts {
        order: 5;
    }
    
    main {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    h1 {
        width: 100%;
        text-align: left;
        font-size: 5em;
    }
    
    .card {
        width: 49%;
    }
    
    h2 {
        width: 100%;
        text-align: left;
        font-size: 4em;
    }
    
    section h4 {
        font-size: 1.5em;
    }
}


/* media queries medium (1024) */
@media screen and (min-width: 1024px) {
    #container {
        display: flex;
    }

    #nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin-right: 5%;
        position: fixed;
        width: 20%;
        height: -webkit-fill-available;
    }
    
    #navShop {
        justify-content: space-around;
        margin: 10%;
        width: 80%;
        height: 4%;
        order: 1;
    }
    
    .navItem {
        margin: 10%;
        width: 80%;
        padding: 2% 2%;
        height: 4%;
    }

    #ourHoney {
        order: 2;
    }

    #traceHoney {
        order: 3;
    }

    #facilities {
        order: 4;
    }

    #contacts {
        order: 5;
    }
    
    #containerTwo {
        display: flex;
        flex-direction: column;
        margin-left: 24%;
    }
    
    main {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    h1 {
        width: 100%;
        text-align: left;
        font-size: 7em;
    }
    
    .card {
        width: 30%;
        margin: 1%;
    }
    
    h2 {
        font-size: 6em;
    }
}


/* media queries medium-large (1200) */
@media screen and (min-width: 1200px) {
    .card {
        width: 23%;
    }
}


/* media queries extralarge (1920) */
@media screen and (min-width: 1920px) {
    #nav {
        width: 15%;
    }

    #containerTwo {
        margin-left: 17%;
    }

    .card {
        width: 18%;
    }

    section {
        display: flex;
        flex-direction: row-reverse;
    }

    section img {
        margin-right: 3%;
    }
}