body {
    margin: 0;
    background-image: linear-gradient(90deg, purple, pink);
    font-size: 0.8em;
}

#center {
    width: 50%;
    margin: 0 auto;
}

header {
    text-align: center;
}

video {
    width: 100%;
}
