html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: ;*/
    font-size: 0.8em;
    line-height: 1.2em;
}

header {
    width: 94%;
    margin: auto;
    background-image: linear-gradient(to bottom, rgba(0,160,198,1), rgba(3,109,134,1));
}

header p{
    color: white;
}

header ul{
    color: white;
}