/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
  padding: 5%;
  background-color: #3189DB;
}

p {
  font-style: italic;
  color: white;
}

hr {
  margin-bottom: 5%;
  color: white;
}
