@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

body {
    background-color: rgb(240, 240, 240);
}

#grayText {
    color: rgb(170, 170, 170);
}

#orangeText {
    color: orange;
}

#violetText {
    color:darkviolet;
}

.heroColor {
    background-color: #7153FA;
}

.heroButtonColor {
    background-color: #7CC99A;
    border: 0px;
}