@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
}

#grayText {
    color: rgb(170, 170, 170);
}

#orangeText {
    color: orange;
}

#violetText {
    color:darkviolet;
}