html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    /*line-height: 1.2em;*/

    /*heading: font-family: 'Outfit', sans-serif; | 60px */

}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    width: 85%;
    margin: 3% auto;
}

img {
    width: 140px;
}

main {
    width: 85%;
    margin: 0 auto;
}



/* welcomePage */

