html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    /*line-height: 1.2em;*/
}

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
}

header {
    width: 85%;
    margin: 3% auto;
}

img {
    width: 140px;
}

main {
    width: 85%;
    margin: 0 auto;
}



/* - - - - welcomePage - - - - */

#welcomePageTitle {
    width: 30%;
}

#welcomePageTitle h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    line-height: 0.8em;
    font-weight: 800;
}

#welcomePageTitle h1 span {
    font-weight: 200;
}

#welcomePageParagraph h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    margin-bottom: 0.2em;
    color: #C2128D;
}

#welcomePageParagraph p {
    margin-top: 0;
    width: 45%;
    margin-bottom: 3em;
}

#welcomePageList ul {
    margin-bottom: 5em;
}

label {
    margin-right: 12em;
}

.button {
    padding: 0.9em 3em;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
}

.button:hover {
    background-color: #00FFFF;
    transition: 0.7s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 5px 5px #01f9f981;
    color: black;
    border: 1px solid #00FFFF;
}


/* - - - - questionPage - - - - */


#questionPageHeader {
    width: 85%;
    margin: 3% auto 10% auto;
}

#questionPageContainer {
    text-align: center;
}

#questionPageTitle {
    width: 30%;
    margin:0 auto;
}

#questionPageTitle h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    line-height: 0.8em;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 1.5em;
}

#questionPageTitle h1 span {
    font-weight: 200;
}

#questionPageAnswers {
    margin-bottom: 4em;
}

.answerButton {
    width: 30%;
    padding: 2%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.091);
    color: white;
    box-shadow: 0px -2px 2px 0px white;
    margin: 1% 2% 1% 2%;
    font-weight: bolder;
}

.answerButton:hover {
    background-color: #C2128D;
}

#questionPageCounter h1 {
    font-size: 15px;
    letter-spacing: 2px;
}

#questionPageCounter span {
    color: #C2128D;
}


/* - - - - resultsPage - - - - */


#resultsPageContainer {
    text-align: center;
}

#resultsPageTitle {
    width: 50%;
    margin:0 auto;
}

#resultsPageTitle h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    line-height: 0.8em;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 0.1em;
}

#resultsPageTitle p {
    margin-top: 0;
    font-size: 1.2em;
}

#results {
    margin-bottom: 2%;
}

.resultsItem {
    width: 30%;
    height: 300px;
    background-color: black;
    display: inline-block;
     margin: 2% 1% 2% 1%
}

#rateUs button {
    padding: 0.9em 3em;
    font-size: 1.1em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
}


/* - - - - feedbackPage - - - - */

#feedbackPageContainer {
    text-align: center;
}

#feedbackPageTitle {
    width: 50%;
    margin:0 auto;
}

#feedbackPageTitle h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
    line-height: 0.8em;
    font-weight: 800;
    line-height: 1em;
    margin-bottom: 0.1em;
}

#feedback {
    width: 45%;
    margin: 0 auto;
}

#feedback p {
    font-size: 1.2em;
    margin-bottom: 2em;
}

#feedback div {
    margin-bottom: 5em;
}

#feedback input {
    width: 90%;
    margin-bottom: 0.5em;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
}

hr {
    border-color: #C2128D;
    margin-bottom: 3em;
    margin-top: 0;
}

#moreInfo button {
    padding: 0.9em 3em;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: #00FFFF;
    transition: 0.7s;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 5px 5px #01f9f981;
    color: black;
    border: 1px solid #00FFFF;
}