
<div class="container">
  <h4 class="mb-5">The movies</h4>
  <div class="row">
    <div class="col-3 mb-5" *ngFor="let movie of movies">

      <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="card-img-top" alt="...">
        <!--
        <div class="card-body">
          <h1></h1>
          <p></p>
        </div>
        -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Release date:</b> {{movie.release_date}}</li>
          <li class="list-group-item"><b>Language:</b> {{movie.original_language}}</li>
          <li class="list-group-item"><b>Likes:</b> {{movie.popularity}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-light" (click)="iLikeMovie(movie.id, user?.user?.id!)"><img src="../../../assets/thumb_up_FILL0_wght100_GRAD0_opsz48.svg" width="30rem"></button>

          <!--
          <button class="btn btn-light" (click)="iLikeMovie(movie.id, user?.user?.id!)"><img src="likedMovies(movie.id) ? ../../../assets/thumb_up_FILL0_wght100_GRAD0_opsz48.svg : ../../../assets/thumb_up_FILL1_wght100_GRAD0_opsz48.svg" width="30rem"></button>
          -->

        </div>
      </div>

    </div>
  </div>
</div>

