
.form-text {
    display: none;
}
form.validated input:valid,
form.validated textarea:valid {
    border-color: green;
}

form.validated input:invalid,
form.validated textarea:invalid {
    border-color: red;
}

form.validated input:invalid+div,
form.validated textarea:invalid+div {
    display: block;
}