
<div class="container">
  <div class="row mb-5">
    <div class="col-6">
      <input type="text" class="form-control" [(ngModel)]="title">
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary me-2 mb-2" (click)="inserisci(title)">INSERISCI</button>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let item of todosArray">
      <div class="col-6" *ngIf="item.completed === false">
        <div class="row">
          <div class="col-6"><h5>{{item.id}} {{item.title}} {{item.completed}}</h5></div>
          <div class="col-3"><button type="button" class="btn btn-success me-2 mb-2" (click)="completato(item.id)">Completato</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
