
<div class="container">

  <div class="row mb-3">
    <div class="col-6">
      <input type="text" class="form-control" [(ngModel)]="title" id="input">
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary me-2 mb-2" (click)="inserisci(title)">INSERISCI</button>
    </div>
    <div class="col-3" *ngIf="loadingInserisci === true">Inserimento task in corso...</div>
    <div class="col-3" *ngIf="loadingCompletato === true">Modifica task in corso...</div>
    <div class="col-3" *ngIf="loadingRecuperaTodos === true">Verifica task in corso...</div>
  </div>

  <div class="row">
    <div *ngIf="todosArray.length != 0 else noTask">

      <div class="mb-5">Ci sono task censiti, verificare le sezioni "todos" e "completati"</div>

      <div *ngFor="let item of todosArray">
        <div class="col-8" *ngIf="item.completed === false">
          <div class="row">
            <div class="col-6"><h5>{{item.id}} {{item.title}} </h5></div>
            <div class="col-2"><button type="button" class="btn btn-success me-2 mb-2" (click)="completato(item.id)">Completato</button></div>
          </div>
        </div>

      </div>

    </div>
    <ng-template class="col-6" #noTask>Non ci sono task todo e/o completati</ng-template>
  </div>

</div>
