/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 20px;
    width: 80%;
    padding: 20px;
}

#prima {
    color: red;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    z-index: 3;
    background-color: white;
    width: 120px;
    height: 18px;
    animation: fadeinout 4s linear infinite;
    
}

#seconda {
    color: green;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 120px;
    height: 18px;
    animation: fadeinout 4s linear infinite;
}

#terza {
    color: blue;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 120px;
    height: 18px;
    animation: fadeinout 4s linear infinite;
}

@keyframes fadeinout {
    0%,100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
  }

