/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 20px;
    width: 40%;
    padding: 20px;
}

.parole div {
    opacity: 0;
    animation: fadein 6s infinite;
}

.parole div:first-of-type {
    animation-delay: 0s;
    color: red;
    font-weight: bold;
    position: absolute;
    left: 220px;
    top: 94.5px;
}

.parole div:nth-of-type(2) {
    transform: translateY(-100%);
    animation-delay: 2s;
    color: green;
    font-weight: bold;
    position: absolute;
    left: 220px;
    top: 110px;
}

.parole div:last-of-type {
    transform: translateY(-200%);
    animation-delay: 4s;
    color: blue;
    font-weight: bold;
    position: absolute;
    left: 220px;
    top: 125.5px;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

